body{
    background-color: white;
    /* margin-left: 150px;
    margin-right: 150px; */
}

/*Header section*/
.topNavBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* code for the hamburger icon starts*/
.hamburger{
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    align-self:center ;
    display: none;
    /* border: 3px solid red; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
}
 .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius:50% ;
    /* border: 3px solid green; */
    animation: hamburger_pulse 1s ease infinite;
}
 .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: black;
    z-index: -1;
}
 .hamburger .bar::after,
 .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: black;
    transition: .3s ease;
    transition-property: top, bottom;
}
 .hamburger .bar::after{
    top: 8px;
}
 .hamburger .bar::before{
    bottom: 8px;
}
.hamburger.active .bar::before,
.hamburger.active .bar::after{
    top: 0;
    bottom: 0;
    background-color: white;
}

.topNav{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.NavUL, .NavLi{
    list-style-type: none;
    display: inline-block;
}
.NavLi > a {
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
  
.NavLi > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;    
}
  
.NavLi > a:hover::after, .NavLi > a.active-nav::after {
    width: 100%;
    background: black;
}

/*STLYING ICONS IN NAV BAR*/
.NavIconsUl, .NavIconslI{
    list-style: none;
    display: flex;
    padding: 1em;
    margin: 0;
}
.NavIconslI{
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
}
.NavIconslI:hover{
    background-color: aquamarine;
}
.NavIconImg{
    height: 35px;
    width: 35px;
}
/*END OF HEADER*/

/*Css for mobile view, this only shows on small screens*/
.MobileView{
    height: auto;
    width: 92%;
    margin: 0 4%;
}
.MobilefilterSortBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgb(233, 229, 229);
}
.MobilefilterSortButton{
    padding: 10px 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MobilefilterSortButton img{
    margin-left:10px;
}
/*START OF SEARC BOX SECTION*/
.SearchBarBox{
    height: auto;
    width: 92%;
    margin: 0 4%;
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.SearchBarBox input{
    border-radius: 5px;
    background: #F4F2F2;
    color: black;
    padding: 12px 4px 10px 35px;
    background: #F4F2F2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.SortbySection{
    width: 68%;
    height: auto;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: large;
    align-content: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgb(233, 229, 229);
    font-family: Satoshi;
}
.SortbySection form, select, option{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*END OF SEARC BOX SECTION*/

/*START OF DIVISON BODY*/
.DIVISIONBODY{
    width: 92%;
    margin: 0 4%;
    height: auto;
    width: auto;
    margin-top: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
/*START OF BOX 1*/
.DIVISION1{
    display: flex;
    width: 23%;
    padding: 5px;
    flex-direction: column;
}

.DIVISION1 .filter{
    height: 22px;
    width: 100%;
    font-family: Satoshi;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 15px;
    border-bottom: 3px solid #AFB091;
}
.FilterOptions{
    height: auto;
    width: 100%;
    font-family: Satoshi;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px ;
    margin-bottom: 20px ;
}
.Sections{
    width: 100%;
    height: fit-content;
    padding: 10px;
}
.SectionContentBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.dropbtn {
    height: 20px;
    width: 20px;
    cursor: pointer;
    object-fit: contain;
}
.dropdown-content {
    display: none;
    background-color: transparent;
    width: auto;
    overflow: auto;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}
.FilterOptions h3{
    width: 100%;
    font-family: Satoshi;
    font-size: 22px;
    font-weight: 500;
}
.FilterOptions img{
    height: 8px;
    width: 12px;

}
.checkLists input{
    accent-color: #D9D9D9;
    height: 20px;
    width: 20px;
}
.checkLists label{
    font-size: 20px;
    accent-color: #D9D9D9;
}
.priceRangeValues{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 400;
}
/*RangeSlider Start*/
.range{
    height: 100px;
    width: 90%;
	border-radius: 5px;
	padding: 0 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
input[type="range"]{
	width: 100%;
	height: 3.5px;
	-webkit-appearance: none;
	background-color: #dcdcdc;
	border-radius: 3px;
	outline: none;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background-color: #1c1c1c;
	cursor: pointer;
	border-radius: 50%;
}
input[type="range"]:active::-webkit-slider-thumb{
	background-color:white;
	border: 5px solid #1c1c1c; 
}
.values{
	width: 30%;
	height: 40px;
	position: relative;
	overflow: hidden;
}
.wrapper{
	height: 100%;
	width: 100%;
	position: relative;
	transition: 0.3s;
}
span{
	display: block;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

/*RangeSlider End*/

/*END OF BOX 1*/

/*START OF BOX 2*/
.DIVISION2{
    display: flex;
    width: 75%;
    justify-content: center;
}
.grid-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
}
.grid-item {
    text-align: center;
    margin: 5px;
    cursor: pointer;
} 
.gallery {
    min-height: 300px;
    width: auto;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #ccc ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.gallery img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
  
.desc {
    padding: 5px;
    text-align: left;
    margin: 0;
}
.price{
    padding: 5px;
    text-align: left;
    font-weight: bold;
    margin: 0;
}
/*END OF BOX 2*/

/*END OF DIVISON BODY*/
.bottomCont{
    height: 300px;
    display: flex;
    width: auto;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.SeeMore{
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: large;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
/* Modal section */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .modal::-webkit-scrollbar{
    display: none;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 96%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/*Modal section ends*/


/*Product detail css start*/

.modal-content .productBox{
    margin: 5% 10%;
    border: 1px solid black;
    height: 100%;
    width: 80%;
    display: flex;
}
.modal-content .Box1{
    display: flex;
    flex: 43%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.modal-content .Box1 img{
    height: 550px;
    width: 95%;
    object-fit: cover;
}
.modal-content .Box2{
    display: flex;
    flex-direction: column;
    flex: 50%;
    border-left: 1px solid black;
}
.modal-content .Sections{
    border-bottom: 1px solid black;
    width: auto;
    height: auto;
    padding: 10px;
}
.modal-content .addToBox{
    display: flex;
    flex-direction: row;
}
.modal-content .placeBidButton{
    background-color: #3341C1;
    color: white;
    border: 1px solid #3341C1;
    font-size: large;
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.modal-content .favoriteButton{
    margin-left: 20px;
    background-color: transparent;
    font-size: large;
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.modal-content .SectionContentBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.modal-content .dropbtn {
    height: 20px;
    width: 20px;
    cursor: pointer;
    object-fit: contain;
}
.modal-content .dropdown-content {
    display: none;
    background-color: transparent;
    width: auto;
    overflow: auto;
    z-index: 1;
}
.modal-content .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.modal-content .dropdown a:hover {background-color: #ddd;}
  
.modal-content .show {display: block;}

/* End of product box */
.modal-content .ExploreMoreContainer{
    height: 50px;
    width: 80%;
    margin: 0 10%;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-content .ButtonContainer{
    width: 115px;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-content .Btn{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: white;
    border: 1px solid black;
    color: black;
    opacity: 60%;
}

/* Start of slideshow */

.modal-content .SlideshowBox{
    width: 95%;
    margin: 0 5%;
    height:auto;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
} 
.modal-content .slider-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content .slider-wrapper{
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: -20px;
    padding: 10px 0px;
}
.modal-content .slider-item{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 260px;
    display: inline-flex;
    margin-right: 15px;
    background-color: transparent;
    flex-direction: column;
    border: 1px solid black;
}
.modal-content .slider-item:last-child{
     margin-right: 15px;
}
.modal-content .slider-item:first-child{
    margin-left: 5px;
}
.modal-content .favoriteBox{
    height: 20%;
    width: 90%;
    margin: 0 5%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.2rem;
}
.modal-content .favoriteBox i{
    border: 1px solid black;
    border-radius: 45%;
    padding: 2%;
}
.modal-content .imageBox{
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.modal-content .imageBox img{
    height: 190px;
    width: 210px;
    object-fit: cover;
    overflow: hidden;
}
.modal-content .infoBox{
    display: flex;
    height: 20%;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.modal-content .infoBox p{
    font-size: 20px;
    line-height: 18px;
}
.modal-content .infoBox img{
    height: 18px;
    width: 18px;
}
.modal-content .footerButtonBox{
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* .exploreAll{
    height: 30px;
    width: auto;
    color: linear-gradient(94.97deg, #78A3AD 24.64%, rgba(192, 86, 9, 0.49) 118.54%);
} */
.modal-content .exploreAll {
    padding: 15px 50px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(180deg, #78A3AD 0%, rgba(192, 86, 9, 0.49) 100%);
    cursor: pointer;
}
.modal-content .exploreAll::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    /* transition: 200ms; */
}
.modal-content .exploreAll::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(180deg, #78A3AD 0%, rgba(192, 86, 9, 0.49) 100%);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
}
.modal-content .exploreAll:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.modal-content .exploreAll:hover::after{
    color: white;
}

/* responsive code */
@media screen and (max-width: 819px){
    .topNavBox{
        padding: 0;
    }
}

@media screen and (max-width: 650px){
    .navBox{
        flex: 2%;
    }
    .logo-imgBox{
        flex: 90%;
    }
    .hamburger{
        display: flex;
        z-index: 100;
        cursor: pointer;
    }
    .NavUL{
        list-style: none;
        position: absolute;
        background-color: black;
        width: auto;
        height: 100vh;
        left: -100%;
        margin: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
        overflow-x: hidden;
        transition: .5s ease left;
    }
     .NavUL.active{
        left: 0;
    }
     .NavUL a{
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: .2rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }
     .NavUL a::after{
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: orangered;
        opacity: 30%;
        font-size: 10rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: .3s ease letter-spacing;
    }
     .NavUL .NavLi:hover a::after{
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    .NavLi::after{
        height: 0px;
    }
    .N1,.N3{
        display: none;
    }
    .productBox{
        display: flex;
        flex-direction: column;
    }
    .Box1 img{
        max-height: 300px;
        width: 100%;
    }
    .Box2 .title{
        font-size: 1.2rem;
        font-weight: 300;
    }
    .ExploreMoreContainer{
        display: none;
    }
}
/*product detail css ends*/



/* responsive code starts */
@media screen and (min-width: 749px){
    .MobileView{
        display: none;
    }
}
@media screen and (max-width: 750px){
    .SearchBarBox{
        display: none;
    }
    .DIVISION1{
        display: none;
    }
    .DIVISION2{
        flex: 100%;
    }
}
@media screen and (max-width: 680px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 650px){
    .navBox{
        flex: 2%;
    }
    .logo-imgBox{
        flex: 90%;
    }
    .hamburger{
        display: flex;
        z-index: 100;
        cursor: pointer;
    }
    .NavUL{
        list-style: none;
        position: absolute;
        background-color: black;
        width: auto;
        height: 100vh;
        left: -100%;
        margin: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
        overflow-x: hidden;
        transition: .5s ease left;
    }
     .NavUL.active{
        left: 0;
    }
     .NavUL a{
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: .2rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }
     .NavUL a::after{
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: orangered;
        opacity: 30%;
        font-size: 10rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: .3s ease letter-spacing;
    }
     .NavUL .NavLi:hover a::after{
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    .NavLi::after{
        height: 0px;
    }
    .N3{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 340px){
    .MobilefilterSortBox{
        flex-direction: column;
    }
    .MobilefilterSortButton{
        margin: 3% 0;
    }
}
/* responsive code ends */